* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.App {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 4.5rem);
  grid-template-rows: minmax(6rem, auto) repeat(5, 3.8rem);
  gap: 0.3rem;
  margin: 4.5rem;
  padding: 0.5rem;
  border: 1px solid black;  
  background-color: rgba(0, 0, 0, 0.877);
  border-radius: 10px;
  color: white;
}

button {
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: rgba(71, 71, 71, 0.842);
  color: white;
  font-size: 1.2rem;
}

button:hover {
  background-color: rgba(78, 78, 78, 0.925);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.50);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0.75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.previous-operand {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.658);
}

.current-operand {
  font-size: 1.8rem;
}